
*{

     padding: 0;

}
html,
body {
    margin:0;    
    background:#AAA8A8;
    height: 100%;
}
nav {

     background: #212121;
     height: 50px;

}

nav ul {
   margin:0px 5px 5px 7px;
 
  
}

nav li {
    display: inline-block;
    margin:15px 10px 5px 10px;

}
nav a {
    text-decoration: none;
    color: #FFFFFF;

   
}

nav a:hover {
    color: #000000;
}

nav img {
    float: right;
    margin:8px 5px 0px 0px;

}

header{
    background: #FFFFFF;
}

main{
    display: block;
    width: 940px;
    margin:auto;
    height: 100%;

  
}
span img{

    margin: 20px 0px 40px 0px;
}

div{
    min-height: 100%;
   

}
div section {
    display: inline-block;
    width: 300px;
    background-color:#FFFFFF;

}

div  div {
        display: inline-block;
        margin:10px 16px 25px 16px;


  
}  

section h1{
   

    padding: 0px 0px 0px 20px;
}



section p{
   

    padding: 0px 0px 5px 20px;
}

article{

    background: #FFFFFF;
    display: inline-block;
    width: 60%;
    height: 50%;
}
article h1{
   

    padding: 0px 0px 0px 20px;
}
article h3{
   

    padding: 0px 0px 0px 20px;
}
article p{
     padding: 0px 0px 5px 20px;

}

aside{
 background: #FFFFFF;
 float: right;
 width: 40%;
 height: 296px;

}

aside h1{
    margin-left:50px;
}


aside ul {
    list-style-type: none;
    margin-left:50px;
    padding: 0;
    width: 300px;
    background-color: #f1f1f1;
}

aside li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    height: 15px;

    text-decoration: none;
}


aside li a:hover {
    background-color: #555;
    color: white;
}

aside ul img{
   float: right;
   margin-right: 10px;
}


 figure {
   padding: 0;
   margin:0;
}

figure img{
    position: relative;
    width: 231px;
    margin: 0;
    padding: 0;
}

button{
    display:inline-block;
   border-radius: 12px;
   width: 50px;
   margin:10px 0px 10px 0px ;
   opacity: 0.6;
   background: #646464;
   color: #FFFFFF;
}

footer{
    background: #FFFFFF;
    width: 100%;
    height: 40px;
    margin-bottom:20px; 
}
footer p{
    padding: 12px 0px 0px 15px;
} 