input[type="text"]{
	border-style: solid;
    width: 100px;
}

#aa{
	position: relative;
    bottom: -11px;
    right: 36px;
}

input[type="color"]{
	width: 100px;

}

#bb{
	position: relative;
    right: 58px;
}
form{
	margin-top: 21px;
}
#myTable{
	    width: 50%;
}
