html,
body {
    margin: 0;
    background: #262E31;
    height: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #FFFFFF;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 30px;

    position: relative;
}

nav a {
    color: #1A1919;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}

nav a:hover {
    color: #05214A;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #05214A;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

main {
    min-height: 100%;
    margin-left: 30px;
    margin-right: 30px;
    color: #EDE2E2;
    font-size: 15px;
    font-weight: 400;
}

footer {

    background-color: #FFFFFF;
    padding: 5px 0;
    width: 100%;
    text-align: center;
}

section {

    float: left;
    width: 63%;
}

aside {
    float: right;
    width: 30%;
}

article {
    width: 63%;
}

.con {
    text-align: center;
}

.con2 {
    text-align: center;
    margin: 70px auto;
}

.main2 {
    min-height: 100%;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    color: #EDE2E2;
    font-size: 15px;
    font-weight: 400;
}

#tab {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tab td,
#tab th {
    border: 1px solid #ddd;
    padding: 8px;
}



#tab th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3C827C;
    color: white;
}

.link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}

.link:hover {
    color: #0A4B41;
}